label .mandatory {
  color: red;
  font-size: unset;
}

.mandatory {
  color: red;
  font-size: 13px;
}

.divLoader {
  width: 85vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
