label .mandatory {
  color: red;
  font-size: unset;
}

.mandatory {
  color: red;
  font-size: 13px;
}

.divLoader {
  width: 85vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add {
  float: right;
  margin-top: -17px;
}

.page-size {
  float: right;
  width: 10%;
}

.pagination {
  float: left;
  width: 50%;
}
